<p style="color: green"><%= notice %></p>

<h1>Incidents</h1>

<div class="max-w-7xl mx-auto mt-12">
  <%= render "incidents", incidents: @incidents %>
</div>

<%= link_to "New incident", new_incident_path %>
